/* Fuente sacada de google fonts llamada Outfit     font-family: "Outfit", serif; */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Fuente sacada de google fonts llamada Chakra Petch   font-family: "Chakra Petch", serif; */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body{
    margin: 0;
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 100px;
    background-color: rgb(34, 34, 34);
    border-bottom: 10px solid transparent;
    border-image: linear-gradient(45deg, #283c86, #45a247) 1;
    animation: gradienteAnimado 1s linear infinite; /* Aplicar la animación */
}

@keyframes gradienteAnimado {
    0% {
        border-image: linear-gradient(45deg, #283c86, #45a247, #283c86) 1;
    }
    50% {
        border-image: linear-gradient(45deg, #45a247, #283c86, #45a247) 1;
    }
    100% {
        border-image: linear-gradient(45deg, #283c86, #45a247, #283c86) 1;
    }
}

nav{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
   align-items: center;
}

.bar{
    position: relative;
    left: 30%;
    width: 50%;
    height: auto;
}

.logo{
    position: relative;
    width: 230px;
    height: auto;
    background-color: rgb(34, 34, 34);
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 50%;
}

.logo img{
    width: 100%;
    height: auto;
}

#desplegable{
    display: none;
}

.bar ul{
    gap: 10%;
    display: flex;
    flex-direction: row;    
    padding-right: 10%;
}

.bar ul li{
    list-style: none;
    font-family: "Outfit", serif;
    font-size: 25px;
    cursor: pointer;
    color: white;
    transition: color 0.3s ease;
}

.bar ul li:hover{
    color: rgb(14, 190, 29);
}


/*Escritorio*/
@media (min-width: 1199.98px)  {

}
/*Fin Escritorio*/

/*Tablet*/
/*Portrait*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {

}

/*landscape*/
@media (min0-width: 991.98px) and (max-width: 1199.98px)and (orientation:landscape) {

}
/*fin tablet*/




/*movil*/
/*Portrait*/
/*Default*/
@media (max-width: 575.98px)and (orientation:portrait) {
    body{
        margin: 0;
        overflow-x: hidden;
    }
    
    header{
        width: 100%;
        height: 50px;
        background-color: rgb(34, 34, 34);
    }
    
    nav{
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo{
        align-items: center;
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 0;
        height: auto;
        background-color: rgb(34, 34, 34);
        border-radius: 0%;
    }
    
    .logo img{
        position: relative;
        width: 50%;
        height: auto;
    }

    #desplegable{
        display: block;
        width: 30px;
        height: auto;
        position: relative;
        bottom: 50%;
        margin-left: 10%;
    }

    .bar{
        left: 0;
        position: relative;
        width: 100%;
        height: auto;
    }
    
    .bar ul{
        margin-top: 0;
        padding-top: 5%;
        padding-bottom: 5%;
        align-items: center;
        display: flex;
        flex-direction:column;
        gap: 20px;
        background: linear-gradient(45deg, #283c86, #45a247); /* Gradiente diagonal */

    }
    
    .bar ul li{
        text-align: center;
        list-style: none;
        font-family: "Chakra Petch", serif;
        font-size: 20px;
        letter-spacing: 2.5;
        cursor: inherit;
        color: rgb(255, 255, 255);
        transition: color 0.3s ease;
    }
    
    .bar ul li:hover{
        color: rgb(14, 190, 29);
    }
    
}



/*landscape*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:landscape) {
  
}
/*fin movil*/